
# BEGIN WordPress
# A `BEGIN WordPress` és az `END WordPress` sorok közötti tartalom dinamikusan generált, és csak WordPress szűrők módosíthatják. Bárminemű kézi módosítás e kettő sor között el fog veszni.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /kosztely-edina-fodraszat/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /kosztely-edina-fodraszat/index.php [L]
</IfModule>

# END WordPress